<% include ../partials/header %>
<form action="/products/update" method="post">
<div class="form-group">
  <label for="">ID</label>
  <input type="text"
    class="form-control" name="" id="" aria-describedby="helpId" placeholder="" readonly value="<%= product.id %>">
  <small id="helpId" class="form-text text-muted">Help text</small>
  <label for="">Title</label>
  <input type="text"
    class="form-control" name="" id="" aria-describedby="helpId" placeholder="" readonly value="<%= product.title %>">
  <small id="helpId" class="form-text text-muted">Help text</small>  
  <label for="">Prize</label>
  <input type="text"
    class="form-control" name="" id="" aria-describedby="helpId" placeholder="" readonly value="<%= product.price %>">
  <small id="helpId" class="form-text text-muted">Help text</small>
  <label for="">Create At</label>
  <input type="datetime"
    class="form-control" name="" id="" aria-describedby="helpId" placeholder="" readonly value="<%= product.created_at %>">
  <small id="helpId" class="form-text text-muted">Help text</small>
  <a class="btn btn-primary" href="/products"><< Back</a>
</div>
<% include ../partials/footer %>