<% include ../partials/header %>
        <h1>Hello EJS</h1>
        <div class="jumbotron">
          <h1 class="display-3">Welcome to Full Stack Web Dev</h1>
          <p class="lead">with Aj.Korawit</p>
          <hr class="my-2">
          <p>More info</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/about" role="button">Jumbo action name</a>
          </p>
        </div>
<% include ../partials/footer %>