<% include ../partials/header %>
<form action="/products" method="post">
<div class="form-group">
  <label for="">ID</label>
  <input type="text"
    class="form-control" name="id" id="" aria-describedby="helpId" placeholder="" value="">
  <small id="helpId" class="form-text text-muted">Help text</small>
  <label for="">Title</label>
  <input type="text"
    class="form-control" name="title" id="" aria-describedby="helpId" placeholder="" value="">
  <small id="helpId" class="form-text text-muted">Help text</small>  
  <label for="">Prize</label>
  <input type="text"
    class="form-control" name="price" id="" aria-describedby="helpId" placeholder="" value="">
  <small id="helpId" class="form-text text-muted">Help text</small>
  <a name="" id="" class="btn btn-secondary" href="/products" role="button">Cancel</a>
  <button type="submit" class="btn btn-primary">Add New</button>
</div>
</form>
<% include ../partials/footer %>